#include <windows.h>

1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Thang Nguyen - DO LONG\0"
      VALUE "FileDescription", "Than Long - Auto Ra Bai\0"
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "InternalName", "ThanLongAutoRoute\0"
      VALUE "OriginalFilename", "ThanLongAutoRoute_v1.0.0.exe\0"
      VALUE "ProductName", "Than Long - Auto Ra Bai\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
